--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
torchaudio
Flask==3.0.3
Pillow==11.0.0
transformers==4.46.1
waitress==3.0.1
flask_cors==5.0.0
prometheus_flask_exporter==0.23.1